@import "../font/font.css";
// 阿里巴巴iconfont图标库
@import "../font/AliIcon.css";

@gray-level-1: #F1F2F3;
@gray-level-2: #E3E5E7;
@gray-level-3: #CCCCCC;
@gray-level-4: #BBBBBB;
@gray-level-5: #AAAAAA;
@gray-level-6: #999999;
@gray-level-7: #888888;
@gray-level-8: #777777;
@gray-level-9: #666666;

@black-level-1: #000000;
@black-level-2: #18191C;

@white-color: #FFFFFF;

@pink-color: #F07775;
@skyblue-color: #00aeec;
@green-color: #00c091;

@transparent-color: #FFFFFF00;

@font-black-color: @black-level-2;
@font-gray-color: @gray-level-6;
@font-gray-1-color: @gray-level-9;
@font-white-color: @white-color;

@default-font-size: 14px;
@default-font-weight: 400;

.flex-row {
    display: flex;
    flex-direction: row;
}